{{#equal cuestionario.compartir true}}
  {{#diferent cuestionario.paginar true}}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Compartir</button>
  {{/diferent}}
{{/equal}}
{{#equal cuestionario.paginar true}}
<div class="row">
  <div class="col-md-10">
  <br/>
    <div class="progress">
      <div class="progress-bar progress-bar-info" id="pbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
        0%
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div id="share"></div>
  </div>
</div>
{{/equal}}
<div class="insturcciones">
  <h1>{{cuestionario.titulo}}</h1>
  <h4 style="text-align: justify;">{{cuestionario.instrucciones}}</h4>
  {{#equal cuestionario.paginar true}}
  <center><div class="btn btn-primary" onclick="opPaginateForm();">Iniciar Cuestionario</div></center>
</div>
<div class="paginar" style="display: none;">
  {{/equal}}
  <form action="/manager/responder" method="POST">
    <input name="cuestionario[id]" type="number" value="{{cuestionario.id}}" style="display:none;"></input>
    {{#each preguntas}}
    <div class="pagina" id="{{id}}">
      <h4>{{titulo}}</h4><br/>
      {{#each imagen}}
      {{#diferent url null}}
      <img src="{{#host}}{{/host}}{{small.url}}" data-zoom-image="{{#host}}{{/host}}{{full.url}}" class="zooming"/><br/><br/>
      {{/diferent }}
      {{/each}}
      {{descripccion}}<br/><br/>
      {{#equal tipo 'mt'}}
      {{#multiplesuper respuestas}}
      {{/multiplesuper}}
      {{/equal}}
      {{#equal tipo 'sl'}}
      {{#scalasuper respuestas id}}
      {{/scalasuper}}
      {{/equal}}
      {{#equal tipo 'es'}}
      {{#equal emogi false}}
      {{#scala de_a de_b id }}{{/scala}}
      {{/equal}}
      {{#equal emogi true}}
      {{#scalaemogi  de_a de_b id coleccion_emogi }} {{/scalaemogi}}
      {{/equal}}
      {{/equal}}
      {{#equal tipo 'ab'}}
      <div class="form-group">
        <input name="tipo[pregunta][{{id}}][valor]" class="form-control" type="text" placeholder="Pregunta Abierta" id="pregunta_{{id}}"></input>
      </div>
      {{/equal}}
      <br/>
    </div>
    {{/each}}
    <center>
    <div id="finish" style="display:none;"><h4>Hola has finalizado el cuestionario da click en enviar para que finalice el proceso. </h4></div>
    </center>
    <input type="submit" value="Enviar" class="btn btn-default pull-right" id="envio"></input>
  </form>
  {{#equal cuestionario.paginar true}}
  <div class="btn btn-default pull-right" onclick="pagNext()" id="siguiente">Avanzar</div>
</div>
<script type="text/javascript">
$('document').ready(function(){
$('#envio').hide();
$('.pagina').hide();
var thisPage = $('.pagina').first();
$('#siguiente').data('actual', thisPage.attr('id'));
thisPage.show();
});
</script>
{{/equal}}
{{#diferent cuestionario.paginar true}}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Da click en los Iconos y Compartelo</h4>
      </div>
      <center>
      <h4><a href="{{#host}}{{/host}}/opl/{{cuestionario.id}}">{{#host}}{{/host}}/opl/{{cuestionario.id}}</a></h4></center>
      <div class="modal-footer">
        <div id="share"></div>
      </div>
    </div>
  </div>
</div>
{{/diferent}}
<script>
$(document).ready(function(){
$("#share").jsSocials({
text: "AGORA Forms | {{cuestionario.titulo}} ",
showLabel: false,
showCount: "inside",
shares: ["twitter", "facebook", "googleplus"]
});
$(".zooming").elevateZoom({zoomWindowPosition: 1});
$('.to-emogi').click(function(){
$('.to-emogi').removeClass('emogi');
$(this).addClass('emogi');
});
});
</script>