<div id="load-form">
<script type="text/javascript">
  $(document).ready(function(){
    loadTPLAPI("json_view_cuestionario", {id: <%=@cuestionario%>}, "formulario", "load-form");
  });
</script></div>
