<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="position:relative; float: right; top: -40px; border-color: #fff; margin-bottom: -30px;">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div class="navbar-collapse collapse" id="navbar">
  <ul class="nav navbar-nav navbar-right">
  <!--  <li><%= link_to 'Acerca de Agora', about_path%></li>
    <li><%= link_to 'Precios', precios_path%></li>
    <li><%= link_to  descargas_path do %>
      Descargas
      <%end%>
    </li>
    <li><%= link_to contacto_path do %>
      Contactar  +<i class="fa fa-phone" aria-hidden="true"></i>
      <%end%>
    </li>-->
  </ul>
</div>