<h1>Acerca de Agora Shapes and Forms</h1>
<br/><br/>
 <p>Agora es un sistema de recolecci贸n de datos que se comporta como un organismo modular de interacci贸n cliente encuestador. </p>
 <p>Tiene como funci贸n principal abastecer de datos ordenados formularios creados para la investigaci贸n de mercados.</p>
 <p>Agora procura brindarle al usuario una rapida </p>
<br/><br/><br/><br/>
