<h1>Android</h1>

<p>Hola este tutorial requiere la siguiente paqueteria, no la descargues hasta que se te explique donde y como descargarla</p>
<blockquote>
  <a href="/appnatives/agora-0.0.1.apk" download>agora-0.0.1.apk</a>
</blockquote>