<h1>Bienvenido a la sección de tutoriales y capacitación de Agora Shapes & Forms</h1>

<p>Hola, en esta sección podras encontrar diversos tutoriales para un manejo adecuado de Agora, te invitamos a que veas a detalle cada uno de ellos.</p>

<p>En caso de que seas nuevo en el concepto de manejo de tecnología para levantamiento de datos por dispositivos móviles o que seas nuevo en el manejo de este tipo de dispositivo te invitamos a que veas nuestro tutorial <a>Dispositivos móviles</a>. </p>

<p>En caso de que seas un usuario experimentado en el tema te invitamos a que veas nuestros tutoriales <a href="/wiki/android">Android</a> y <a href="">IOs</a> para que comprendas como funciona Agora</p>

<p>Cuando hayas terminado de capacitarte y estes listo puedes ir a la sección de <a href="">evaluación </a> para que te demos un código de certificación en el manejo de la aplicación.</p><br/>


<blockquote>
  Atentamente:
   Dev. José Alfredo Reyes de Antuñano CEO de <a href="http://rockstars.mx"> Rockstars MX</a>
</blockquote>

