// Place all the styles related to the manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.emogi{
  width: 100%;
  border: solid 1px rgba(5, 148, 159, 0.9);
  background: rgba(5, 148, 191, 0.3);
}

.panel-survey{
  background: #fff; color: #010101; border-bottom: solid #eee 2px !important; border-top: solid #eee 2px !important;
}